[submodule "source/components/sqlitevirtualtables"]
	path = source/components/sqlitevirtualtables
	url = https://github.com/cutec-chris/SQLiteVirtualTables.git
[submodule "source/components/sqlitefilesystemtable"]
	path = source/components/sqlitefilesystemtable
	url = https://github.com/cutec-chris/SQLiteFilesystemTable.git
[submodule "source/components/sqliteeventtable"]
	path = source/components/sqliteeventtable
	url = https://github.com/cutec-chris/SQLiteEventLogTable.git
[submodule "source/components/dblayer"]
	path = source/components/dblayer
	url = https://github.com/cutec-chris/avamm-db-layer.git
[submodule "source/components/sqldb-bridge"]
	path = source/components/sqldb-bridge
	url = https://github.com/cutec-chris/SQLiteSQLDB-Bridge.git
